<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jwy.jd" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".app.JDApplication"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
           <intent-filter>
               <action android:name="android.intent.action.MAIN" />
               <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>
        </activity>

        <activity android:name=".activity.FrameOne"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activity.FrameTwo"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activity.FrameThree"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activity.FrameFour"
            android:screenOrientation="portrait">
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
